
<div class="panel panel-default">
    <div class="panel-heading">
        <h1> {{title}} </h1>
    </div>
    
    <div class="panel-body">
        <video-list 
            [videos]="videos" 
            (selectVideo)="onSelectVideo($event)">
        </video-list>

        <video-detail
            *ngIf="selectedVideo"
            [video]="selectedVideo"
            (closeForm)="onCloseDetailForm($event)">
        </video-detail>

        <button type="button"
                class="btn	btn-default"
                (click)="newVideo()"> New
        </button>
    </div>
</div>